@import "tailwindcss";

@theme {
  --color-cyber-bg: #0f172a;
  --color-cyber-dark: #0b0f19;
  --color-cyber-emerald: #10b981;
  --color-cyber-rose: #ef4444;
  --color-cyber-amber: #f59e0b;
  --color-cyber-neon: #8b5cf6;
  --color-cyber-cyan: #06b6d4;
  --color-cyber-pink: #ec4899;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

/* MENYUNTIKKAN KEYFRAMES ANIMASI RUNNING TEXT */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

body {
  background-color: var(--color-cyber-bg);
  color: #f8fafc;
  font-family: var(--font-mono);
}
